.section-specialty{
  height: 330px;
  background: #e7e6e6;
      .specialty-container{
    margin: 0 180px;
    display: flex;
    flex-direction: column;
    .specialty-header{
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
   
      .title-section{
      font-size: 20px;
      font-weight: 600;
      }
      .btn-section{
     float: right;
     display: block;
     padding: 10px 15px;
     border: none;
     outline: none;
     background: #ebebeb;
     color: black;
     cursor: pointer;
     text-transform: uppercase;
     &:hover{
      background: #f7d800;
      color: #fff;
     }
      }
    }
    .specialty-body{
      .section-customize{
        .bg-image{
          width: 278px;
          height: 150px;
          background: url("../../assets//Specialty/co-xuong-khop.jpg");
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #d1cbcb;
        }
      }
       }
      }
  
    
  }
  // reset slick slider css
  .slick-prev {
    border: 2px solid #d7d7d7 !important;
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 40px !important;
    background: #f8f3f3 !important;
    &:hover{
      background: #fdfcfc !important;
    }
   
  }
  .slick-prev:before, .slick-next:before{
  // unicode
  font-family: FontAwesome !important;
  color: gray !important;
    // content: "\f104" !important;
  }
  .slick-next {
    border: 2px solid #d7d7d7 !important;
    right: -10px !important;
    height: 48px !important;
    width: 40px !important;
    z-index: 1000 !important;
    background: #f8f3f3 !important;
    &:hover{
      background: #fdfcfc !important;
    }
  }
  .slick-disabled{
    display: none !important;
  }
  .section-share {
    &.section-specialty{
      background: #e7e6e6 ;

    }
    &.section-outsanding-doctor{
      background: #e7e6e6 ;
   
    }
    &.section-about{
      height: 500px !important;
      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;

    }
    .section-body{
      .section-customize{
        .bg-image{
          width: 278px;
          height: 150px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #d1cbcb;
          &.section-specialty{
            // background-image: url("../../assets//Specialty/co-xuong-khop.jpg");
          }
          &.section-medical-facility{
            // background-image: url("../../assets/medical-faciality/he-thong-y-te-thu-cuc-bi-tuyt-coi-05-.1469.jpg");

          }
          &.section-outsanding-doctor{
            // background-image: url("../../assets/outstandingdoctor/103848anh-dai-dien-bs.jpg");
            width: 120px;
            height: 120px;
            border-radius: 50%;
            
          }
          &.section-HandBook{
            background-image: url("../../assets/HandBook/tai-mui-hong-2.png");
           
          }
       
        }
      }
       }

  }
  .section-share{
    height: 330px;

        .section-container{
      margin: 0 180px;
      display: flex;
      flex-direction: column;
      .section-header{
        height: 60px;
        margin-bottom: 30px;
        padding-top: 30px;
        .title-section{
        font-size: 20px;
        font-weight: 600;
        }
        .btn-section{
       float: right;
       display: block;
       padding: 10px 15px;
       border: none;
       outline: none;
       background: #ebebeb;
       color: black;
       cursor: pointer;
       text-transform: uppercase;
       &:hover{
        background: #f7d800;
        color: #fff;
       }
        }
      }
      
        }
    
      
    }
    .section-outsanding-doctor{
      .outer-bg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        
      }
      .section-customize{
        padding: 5px;
        cursor: pointer;
        .customize-border{
          border: 1px solid rgb(168, 165, 165);
          padding: 20px;
        }
      }
    }
    .home-footer{
      text-align: center;
      padding-top: 8px;

      a {
        text-decoration: unset;
      }
    }
    .section-about{
      padding: 0 180px;
      .section-about-header{
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 600;
        padding-left: 10px;
      }
      .section-about-content{
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left{
          width: 60%;
        }
        .content-right{
          width: 40%;
          p{
            text-align: justify;
            font-style: italic;
            padding-top: 15px;
          }
        }
      }
    }
    // reset slick slider css
    .slick-prev {
      border: 2px solid #d7d7d7 !important;
      left: -10px !important;
      z-index: 1000 !important;
      height: 48px !important;
      width: 40px !important;
      background: #f8f3f3 !important;
      &:hover{
        background: #fdfcfc !important;
      }
     
    }
    .slick-prev:before, .slick-next:before{
    // unicode
    font-family: FontAwesome !important;
    color: gray !important;
      // content: "\f104" !important;
    }
    .slick-next {
      border: 2px solid #d7d7d7 !important;
      right: -10px !important;
      height: 48px !important;
      width: 40px !important;
      z-index: 1000 !important;
      background: #f8f3f3 !important;
      &:hover{
        background: #fdfcfc !important;
      }
    }
    